<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Attributes</th>
      <th>DataTypes</th>
      <th>Count</th>
      <th>Unique</th>
      <th>Duplicates</th>
      <th>Frequency</th>
      <th>IsNull</th>
      <th>IsNotNull</th>
      <th>PercentageNull</th>
      <th>Entire_Upper</th>
      <th>Entire_Lower</th>
      <th>WithSpaces</th>
      <th>WithoutSpaces</th>
      <th>Min Words</th>
      <th>Max Words</th>
      <th>Min Length</th>
      <th>Max Length</th>
      <th>Total Character count</th>
      <th>Average Character count</th>
      <th>Trailing White Space</th>
      <th>Entire White Space</th>
      <th>Percentage Entire White Space</th>
      <th>Percentage Numeric</th>
      <th>Percentage AlphaNumeric</th>
      <th>SpecialCharacters</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>cust_id</td>
      <td>float64</td>
      <td>1486</td>
      <td>1485</td>
      <td>1</td>
      <td>NaN</td>
      <td>14</td>
      <td>1486</td>
      <td>0</td>
      <td>0</td>
      <td>14</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>6</td>
      <td>8947</td>
      <td>5.964667</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>100.000000</td>
      <td>0.933333</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>first_name</td>
      <td>object</td>
      <td>1441</td>
      <td>1264</td>
      <td>177</td>
      <td>4.0</td>
      <td>59</td>
      <td>1441</td>
      <td>0</td>
      <td>0</td>
      <td>59</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>11</td>
      <td>8760</td>
      <td>5.840000</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.933333</td>
      <td>100.000000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>last_name</td>
      <td>object</td>
      <td>1432</td>
      <td>1420</td>
      <td>12</td>
      <td>2.0</td>
      <td>68</td>
      <td>1432</td>
      <td>0</td>
      <td>0</td>
      <td>68</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>13</td>
      <td>9922</td>
      <td>6.614667</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.533333</td>
      <td>100.000000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>name</td>
      <td>float64</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1500</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>4500</td>
      <td>3.000000</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>100.000000</td>
      <td>100.000000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>company_name</td>
      <td>object</td>
      <td>1356</td>
      <td>1338</td>
      <td>18</td>
      <td>4.0</td>
      <td>144</td>
      <td>1356</td>
      <td>0</td>
      <td>0</td>
      <td>144</td>
      <td>1337</td>
      <td>163</td>
      <td>1</td>
      <td>13</td>
      <td>3</td>
      <td>31</td>
      <td>28205</td>
      <td>18.803333</td>
      <td>4</td>
      <td>0</td>
      <td>0.0</td>
      <td>9.600000</td>
      <td>10.866667</td>
      <td>523</td>
    </tr>
    <tr>
      <th>5</th>
      <td>address_1</td>
      <td>object</td>
      <td>1400</td>
      <td>1399</td>
      <td>1</td>
      <td>2.0</td>
      <td>100</td>
      <td>1400</td>
      <td>0</td>
      <td>1</td>
      <td>100</td>
      <td>1400</td>
      <td>100</td>
      <td>1</td>
      <td>7</td>
      <td>3</td>
      <td>31</td>
      <td>22394</td>
      <td>14.929333</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>6.666667</td>
      <td>6.666667</td>
      <td>386</td>
    </tr>
    <tr>
      <th>6</th>
      <td>address_2</td>
      <td>float64</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>1500</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1500</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>3</td>
      <td>4500</td>
      <td>3.000000</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>100.000000</td>
      <td>100.000000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>city</td>
      <td>object</td>
      <td>1432</td>
      <td>990</td>
      <td>442</td>
      <td>18.0</td>
      <td>68</td>
      <td>1432</td>
      <td>0</td>
      <td>0</td>
      <td>68</td>
      <td>552</td>
      <td>948</td>
      <td>1</td>
      <td>7</td>
      <td>3</td>
      <td>30</td>
      <td>15774</td>
      <td>10.516000</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.533333</td>
      <td>60.666667</td>
      <td>69</td>
    </tr>
    <tr>
      <th>8</th>
      <td>country</td>
      <td>object</td>
      <td>1434</td>
      <td>325</td>
      <td>1109</td>
      <td>162.0</td>
      <td>66</td>
      <td>1434</td>
      <td>0</td>
      <td>471</td>
      <td>66</td>
      <td>295</td>
      <td>1205</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>30</td>
      <td>10592</td>
      <td>7.061333</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.400000</td>
      <td>79.466667</td>
      <td>23</td>
    </tr>
    <tr>
      <th>9</th>
      <td>state</td>
      <td>object</td>
      <td>1439</td>
      <td>980</td>
      <td>459</td>
      <td>71.0</td>
      <td>61</td>
      <td>1439</td>
      <td>0</td>
      <td>1439</td>
      <td>61</td>
      <td>939</td>
      <td>561</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>8</td>
      <td>7991</td>
      <td>5.327333</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.066667</td>
      <td>37.400000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>zip</td>
      <td>float64</td>
      <td>498</td>
      <td>449</td>
      <td>49</td>
      <td>NaN</td>
      <td>1002</td>
      <td>498</td>
      <td>0</td>
      <td>0</td>
      <td>1002</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>6415</td>
      <td>4.276667</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>100.000000</td>
      <td>66.800000</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>phone1</td>
      <td>object</td>
      <td>1431</td>
      <td>1431</td>
      <td>0</td>
      <td>1.0</td>
      <td>69</td>
      <td>1431</td>
      <td>0</td>
      <td>0</td>
      <td>69</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>12</td>
      <td>17363</td>
      <td>11.575333</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.600000</td>
      <td>4.600000</td>
      <td>2386</td>
    </tr>
    <tr>
      <th>12</th>
      <td>phone2</td>
      <td>object</td>
      <td>1428</td>
      <td>1428</td>
      <td>0</td>
      <td>1.0</td>
      <td>72</td>
      <td>1428</td>
      <td>0</td>
      <td>0</td>
      <td>72</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>12</td>
      <td>17335</td>
      <td>11.556667</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.800000</td>
      <td>4.800000</td>
      <td>2382</td>
    </tr>
    <tr>
      <th>13</th>
      <td>email</td>
      <td>object</td>
      <td>1483</td>
      <td>1480</td>
      <td>3</td>
      <td>2.0</td>
      <td>17</td>
      <td>1483</td>
      <td>0</td>
      <td>0</td>
      <td>1500</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>41</td>
      <td>31627</td>
      <td>21.084667</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.133333</td>
      <td>1.133333</td>
      <td>1786</td>
    </tr>
    <tr>
      <th>14</th>
      <td>web</td>
      <td>object</td>
      <td>1406</td>
      <td>1393</td>
      <td>13</td>
      <td>3.0</td>
      <td>94</td>
      <td>1406</td>
      <td>0</td>
      <td>0</td>
      <td>1500</td>
      <td>0</td>
      <td>1500</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>45</td>
      <td>46743</td>
      <td>31.162000</td>
      <td>0</td>
      <td>0</td>
      <td>0.0</td>
      <td>6.266667</td>
      <td>6.266667</td>
      <td>0</td>
    </tr>
  </tbody>
</table>