<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Anomoly_mail_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>http://www.bentonjohnbjr.com</td>
    </tr>
    <tr>
      <th>1</th>
      <td>http://www.chanayjeffreyaesq.com</td>
    </tr>
    <tr>
      <th>2</th>
      <td>http://www.chemeljameslcpa.com</td>
    </tr>
    <tr>
      <th>3</th>
      <td>http://www.feltzprintingservice.com</td>
    </tr>
    <tr>
      <th>4</th>
      <td>http://www.printingdimensions.com</td>
    </tr>
    <tr>
      <th>5</th>
      <td>http://www.chapmanrosseesq.com</td>
    </tr>
    <tr>
      <th>6</th>
      <td>http://www.morlongassociates.com</td>
    </tr>
    <tr>
      <th>7</th>
      <td>http://www.commercialpress.com</td>
    </tr>
    <tr>
      <th>8</th>
      <td>http://www.truhlarandtruhlarattys.com</td>
    </tr>
    <tr>
      <th>9</th>
      <td>http://www.kingchristopheraesq.com</td>
    </tr>
    <tr>
      <th>10</th>
      <td>http://www.dorljamesjesq.com</td>
    </tr>
    <tr>
      <th>11</th>
      <td>http://www.rangoniofflorence.com</td>
    </tr>
    <tr>
      <th>12</th>
      <td>http://www.feinerbros.com</td>
    </tr>
    <tr>
      <th>13</th>
      <td>http://www.buckleymillerwright.com</td>
    </tr>
    <tr>
      <th>14</th>
      <td>http://www.rousseauxmichaelesq.com</td>
    </tr>
    <tr>
      <th>15</th>
      <td>http://www.centurycommunications.com</td>
    </tr>
    <tr>
      <th>16</th>
      <td>http://www.boltonwilburesq.com</td>
    </tr>
    <tr>
      <th>17</th>
      <td>http://www.tmbyxbeecompanypc.com</td>
    </tr>
    <tr>
      <th>18</th>
      <td>http://www.farmersinsurancegroup.com</td>
    </tr>
    <tr>
      <th>19</th>
      <td>http://www.postboxservicesplus.com</td>
    </tr>
    <tr>
      <th>20</th>
      <td>http://www.sportenart.com</td>
    </tr>
    <tr>
      <th>21</th>
      <td>http://www.cnetworkinc.com</td>
    </tr>
    <tr>
      <th>22</th>
      <td>http://www.ingallsdonaldresq.com</td>
    </tr>
    <tr>
      <th>23</th>
      <td>http://www.franklinpeterlesq.com</td>
    </tr>
    <tr>
      <th>24</th>
      <td>http://www.wtlzpowerfm.com</td>
    </tr>
    <tr>
      <th>25</th>
      <td>http://www.ledeckydavidesq.com</td>
    </tr>
    <tr>
      <th>26</th>
      <td>http://www.professionalimageinc.com</td>
    </tr>
    <tr>
      <th>27</th>
      <td>http://www.siderdonaldcesq.com</td>
    </tr>
    <tr>
      <th>28</th>
      <td>http://www.upullit.com</td>
    </tr>
    <tr>
      <th>29</th>
      <td>http://www.clarkrichardcpa.com</td>
    </tr>
    <tr>
      <th>30</th>
      <td>http://www.moskowitzbarrys.com</td>
    </tr>
    <tr>
      <th>31</th>
      <td>http://www.cascaderealtyadvisorsinc.com</td>
    </tr>
    <tr>
      <th>32</th>
      <td>http://www.knwznewsradio.com</td>
    </tr>
    <tr>
      <th>33</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>34</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>35</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>36</th>
      <td>http://www.tristaterefuelerco.com</td>
    </tr>
    <tr>
      <th>37</th>
      <td>http://www.parkwaycompany.com</td>
    </tr>
    <tr>
      <th>38</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>39</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>40</th>
      <td>http://www.trimtoolinc.com</td>
    </tr>
    <tr>
      <th>41</th>
      <td>http://www.internationaleyeletsinc.com</td>
    </tr>
    <tr>
      <th>42</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>43</th>
      <td>http://www.abcenterprisesinc.com</td>
    </tr>
    <tr>
      <th>44</th>
      <td>http://www.cindyturnerassociates.com</td>
    </tr>
    <tr>
      <th>45</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>46</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>47</th>
      <td>http://www.bollingermachshpshipyard.com</td>
    </tr>
    <tr>
      <th>48</th>
      <td>http://www.orindanews.com</td>
    </tr>
    <tr>
      <th>49</th>
      <td>http://www.ballardspahrandrews.com</td>
    </tr>
    <tr>
      <th>50</th>
      <td>http://www.lowylimousineservice.com</td>
    </tr>
    <tr>
      <th>51</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>52</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>53</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>54</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>55</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>56</th>
      <td>http://www.hubbardbruceesq.com</td>
    </tr>
    <tr>
      <th>57</th>
      <td>http://www.arthuraoliversoninc.com</td>
    </tr>
    <tr>
      <th>58</th>
      <td>http://www.georgejessopcarterjewelers.com</td>
    </tr>
    <tr>
      <th>59</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>60</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>61</th>
      <td>http://www.hubbardbruceesq.com</td>
    </tr>
    <tr>
      <th>62</th>
      <td>http://www.arthuraoliversoninc.com</td>
    </tr>
    <tr>
      <th>63</th>
      <td>http://www.georgejessopcarterjewelers.com</td>
    </tr>
    <tr>
      <th>64</th>
      <td>http://www.schultzthomascmd.com</td>
    </tr>
    <tr>
      <th>65</th>
      <td>NaN</td>
    </tr>
    <tr>
      <th>66</th>
      <td>NaN</td>
    </tr>
  </tbody>
</table>