<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AIDQ</title>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<style>
    .lowerclass{
  background-color: #000099 ;
  width: 1278px;
  padding: 10px;
  border: 2px white;
  margin: 0;
	}
</style>
<body style="background-color:#F2F3F4;">
<div class="lowerclass" style = "text-align:center;color:white;"><b> ANALYZE YOUR REAL-TIME DATA WITH AI-ENABLED ANOMALY DETECTION 
</div>

<br>
<br>
<br>

<p style="text-align:center">
Anomaly detection plays an important role in obtaining visibility for metrics that exhibit complex patterns 
that can’t be modeled by traditional alerts. Uncovered anomalies show up in real-time dashboards and alert 
the relevant users when something goes wrong.
Through the use of robust, scalable, and interpretable algorithms, 
our anomaly detection system helps engineers recognize and react to incidents as they happen.
</p>
<br>
<br>
<div class="row">
	<div class="col-md-6" style="text-align:center">
		<label>Choose according to your requirement</label>
    </div>
	<div class="col-md-4">
		<a href="\home" class="btn btn-primary" style="background-color:#000099;border-radius: 50px">Single Dataset Analysis</a>
		<a href="\multifile" class="btn btn-primary" style="background-color:#000099;border-radius: 50px">Multiple Dataset Analysis</a>
	</div>
</div>
<br>
<br>
<br>

		
</body>
</html>							