<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>cust_id</th>
      <th>first_name</th>
      <th>last_name</th>
      <th>name</th>
      <th>company_name</th>
      <th>address_1</th>
      <th>address_2</th>
      <th>city</th>
      <th>country</th>
      <th>state</th>
      <th>zip</th>
      <th>phone1</th>
      <th>phone2</th>
      <th>email</th>
      <th>web</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1300</th>
      <td>2401.0</td>
      <td>Brice</td>
      <td>Rowe</td>
      <td>NaN</td>
      <td>Maryland Match Corp</td>
      <td>5 New Circle Rd Ne</td>
      <td>NaN</td>
      <td>Belleville</td>
      <td>ON</td>
      <td>K8N 1R9</td>
      <td>NaN</td>
      <td>613-631-9322</td>
      <td>613-763-3880</td>
      <td>brice_rowe@aol.com</td>
      <td>http://www.marylandmatchcorp.com</td>
    </tr>
    <tr>
      <th>1301</th>
      <td>2402.0</td>
      <td>Nguyet</td>
      <td>Kitchens</td>
      <td>NaN</td>
      <td>Institute For Human Dev</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Red Deer</td>
      <td>AB</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>403-883-4097</td>
      <td>403-244-5802</td>
      <td>nguyet_kitchens@yahoo.com</td>
      <td>http://www.instituteforhumandev.com</td>
    </tr>
    <tr>
      <th>1302</th>
      <td>2403.0</td>
      <td>Janae</td>
      <td>Mair</td>
      <td>NaN</td>
      <td>Park Avenue Audio Inc</td>
      <td>8 S Mcmullen Dr #38</td>
      <td>NaN</td>
      <td>Ajax</td>
      <td>ON</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>905-501-5086</td>
      <td>905-960-1879</td>
      <td>janae_mair@cox.net</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1303</th>
      <td>2404.0</td>
      <td>Darrel</td>
      <td>Makley</td>
      <td>NaN</td>
      <td>Alliedsignal Engines</td>
      <td>6 N Volusia Ave #2</td>
      <td>NaN</td>
      <td>Baie-Sainte-Anne</td>
      <td>NB</td>
      <td>E9A 1P1</td>
      <td>NaN</td>
      <td>506-839-5378</td>
      <td>506-861-3998</td>
      <td>dmakley@yahoo.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1304</th>
      <td>2405.0</td>
      <td>Genevieve</td>
      <td>Milionis</td>
      <td>NaN</td>
      <td>J &amp; M Janitorial Supplies</td>
      <td>5 Cedar St</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ON</td>
      <td>P6B 5Y9</td>
      <td>NaN</td>
      <td>705-467-4142</td>
      <td>705-764-8815</td>
      <td>genevieve.milionis@hotmail.com</td>
      <td>http://www.jmjanitorialsupplies.com</td>
    </tr>
    <tr>
      <th>1305</th>
      <td>2406.0</td>
      <td>Giovanna</td>
      <td>Bacho</td>
      <td>NaN</td>
      <td>Rumford Aquarium Inc</td>
      <td>71 S Newtown St</td>
      <td>NaN</td>
      <td>North Vancouver</td>
      <td>BC</td>
      <td>V7M 3J6</td>
      <td>NaN</td>
      <td>604-203-8085</td>
      <td>604-451-5124</td>
      <td>giovanna@cox.net</td>
      <td>http://www.rumfordaquariuminc.com</td>
    </tr>
    <tr>
      <th>1306</th>
      <td>2407.0</td>
      <td>Shelton</td>
      <td>Spannuth</td>
      <td>NaN</td>
      <td>Bell, David M Esq</td>
      <td>4 Bloomfield Ave #5</td>
      <td>NaN</td>
      <td>Brandon</td>
      <td>MB</td>
      <td>R7B 1N3</td>
      <td>NaN</td>
      <td>204-364-5889</td>
      <td>204-941-7224</td>
      <td>shelton.spannuth@yahoo.com</td>
      <td>http://www.belldavidmesq.com</td>
    </tr>
    <tr>
      <th>1307</th>
      <td>2408.0</td>
      <td>Alison</td>
      <td>Mahlum</td>
      <td>NaN</td>
      <td>Walter Jerome Inc</td>
      <td>841 N Monroe St</td>
      <td>NaN</td>
      <td>Belleville</td>
      <td>ON</td>
      <td>K8N 2W3</td>
      <td>NaN</td>
      <td>613-862-3122</td>
      <td>613-259-2601</td>
      <td>alison_mahlum@hotmail.com</td>
      <td>http://www.walterjeromeinc.com</td>
    </tr>
    <tr>
      <th>1308</th>
      <td>2409.0</td>
      <td>Maynard</td>
      <td>Zufall</td>
      <td>NaN</td>
      <td>Larkin, Jay Robert Esq</td>
      <td>5094 Poway Rd</td>
      <td>NaN</td>
      <td>Vancouver</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>mzufall@gmail.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1309</th>
      <td>2410.0</td>
      <td>Timothy</td>
      <td>Bussert</td>
      <td>NaN</td>
      <td>Purdy, Angeline Esq</td>
      <td>43 Winnetka Ave</td>
      <td>NaN</td>
      <td>Toronto</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>timothy@bussert.com</td>
      <td>http://www.purdyangelineesq.com</td>
    </tr>
    <tr>
      <th>1310</th>
      <td>2411.0</td>
      <td>Viola</td>
      <td>Eddens</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>51 S Hulen St</td>
      <td>NaN</td>
      <td>Grand Manan</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>veddens@eddens.org</td>
      <td>http://www.halescornersvillageprinting.com</td>
    </tr>
    <tr>
      <th>1311</th>
      <td>2412.0</td>
      <td>Luann</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Macnaughton Einson Graphics</td>
      <td>5 Goddard Rd</td>
      <td>NaN</td>
      <td>Montreal</td>
      <td>QC</td>
      <td>H2S 2G9</td>
      <td>NaN</td>
      <td>514-578-7262</td>
      <td>514-640-1941</td>
      <td>luann@cox.net</td>
      <td>http://www.macnaughtoneinsongraphics.com</td>
    </tr>
    <tr>
      <th>1312</th>
      <td>241.0</td>
      <td>Mable</td>
      <td>Goerke</td>
      <td>NaN</td>
      <td>Detroit Newspapers</td>
      <td>7 Woodbridge Ave</td>
      <td>NaN</td>
      <td>Toronto</td>
      <td>ON</td>
      <td>M6P 2V5</td>
      <td>NaN</td>
      <td>416-867-5879</td>
      <td>416-871-4317</td>
      <td>mable_goerke@cox.net</td>
      <td>http://www.detroitnewspapers.com</td>
    </tr>
    <tr>
      <th>1313</th>
      <td>214.0</td>
      <td>Sabine</td>
      <td>Kaea</td>
      <td>NaN</td>
      <td>Westerman, Bryan</td>
      <td>48 Lower Ragsdale Dr #1349</td>
      <td>NaN</td>
      <td>Brampton</td>
      <td>ON</td>
      <td>L6W 1A8</td>
      <td>NaN</td>
      <td>905-586-1138</td>
      <td>905-717-7451</td>
      <td>sabine@gmail.com</td>
      <td>http://www.westermanbryan.com</td>
    </tr>
    <tr>
      <th>1314</th>
      <td>2415.0</td>
      <td>Dolores</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Auto Exchange</td>
      <td>80 S Beckley St</td>
      <td>NaN</td>
      <td>Fredericton</td>
      <td>NB</td>
      <td>E3B 2P9</td>
      <td>NaN</td>
      <td>506-216-2028</td>
      <td>506-284-7449</td>
      <td>dolores@yahoo.com</td>
      <td>http://www.autoexchange.com</td>
    </tr>
    <tr>
      <th>1315</th>
      <td>2416.0</td>
      <td>Hannah</td>
      <td>Suero</td>
      <td>NaN</td>
      <td>Confish Inc</td>
      <td>3314 Hawthorne St</td>
      <td>NaN</td>
      <td>Oakvill56146e</td>
      <td>ON</td>
      <td>L6L 3G9</td>
      <td>NaN</td>
      <td>905-543-3967</td>
      <td>905-828-9745</td>
      <td>hsuero@yahoo.com</td>
      <td>http://www.confishinc.com</td>
    </tr>
    <tr>
      <th>1316</th>
      <td>2417.0</td>
      <td>Sonia</td>
      <td>Blan</td>
      <td>NaN</td>
      <td>Kinkos Copies</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Deer Lake</td>
      <td>NL</td>
      <td>A8A 2A6</td>
      <td>NaN</td>
      <td>709-512-6346</td>
      <td>709-699-3892</td>
      <td>sblan@blan.com</td>
      <td>http://www.kinkoscopies.com</td>
    </tr>
    <tr>
      <th>1317</th>
      <td>2418.0</td>
      <td>Cletus</td>
      <td>Stapels</td>
      <td>NaN</td>
      <td>Fewel Northwest Inc</td>
      <td>9713 Wilbur Ave #163</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>AB</td>
      <td>T6P 1K3</td>
      <td>NaN</td>
      <td>780-674-7330</td>
      <td>780-675-7361</td>
      <td>cletus_stapels@cox.net</td>
      <td>http://www.fewelnorthwestinc.com</td>
    </tr>
    <tr>
      <th>1318</th>
      <td>2419.0</td>
      <td>Asha</td>
      <td>Zoldak</td>
      <td>NaN</td>
      <td>Ducson Sportswear Inc</td>
      <td>4 Gray Ave</td>
      <td>NaN</td>
      <td>Saint-Stanislas</td>
      <td>QC</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>418-997-7008</td>
      <td>asha_zoldak@hotmail.com</td>
      <td>http://www.ducsonsportswearinc.com</td>
    </tr>
    <tr>
      <th>1319</th>
      <td>2420.0</td>
      <td>Verlene</td>
      <td>Billow</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>8528 A Park Rd</td>
      <td>NaN</td>
      <td>Brampton</td>
      <td>ON</td>
      <td>L6P 0X3</td>
      <td>NaN</td>
      <td>905-486-5455</td>
      <td>905-421-9573</td>
      <td>vbillow@billow.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1320</th>
      <td>2421.0</td>
      <td>Yesenia</td>
      <td>Giglio</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1262 W 19th St</td>
      <td>NaN</td>
      <td>Janeville</td>
      <td>NB</td>
      <td>E2A 5K7</td>
      <td>NaN</td>
      <td>506-858-9797</td>
      <td>506-709-4563</td>
      <td>yesenia@cox.net</td>
      <td>http://www.basqueplasticscorp.com</td>
    </tr>
    <tr>
      <th>1321</th>
      <td>2422.0</td>
      <td>Tayna</td>
      <td>Sine</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>99 Garfield Ave #370</td>
      <td>NaN</td>
      <td>Burlington</td>
      <td>ON</td>
      <td>L7R 3Y8</td>
      <td>NaN</td>
      <td>905-334-8817</td>
      <td>905-989-2244</td>
      <td>tayna_sine@sine.com</td>
      <td>http://www.baileylesliesq.com</td>
    </tr>
    <tr>
      <th>1322</th>
      <td>2423.0</td>
      <td>Verona</td>
      <td>Jobst</td>
      <td>NaN</td>
      <td>M C Green &amp; Sons</td>
      <td>9041 Grand Plaza Plac</td>
      <td>NaN</td>
      <td>Montreal</td>
      <td>QC</td>
      <td>H3V 1E3</td>
      <td>NaN</td>
      <td>514-842-7487</td>
      <td>514-879-3678</td>
      <td>verona_jobst@jobst.org</td>
      <td>http://www.mcgreensons.com</td>
    </tr>
    <tr>
      <th>1323</th>
      <td>2424.0</td>
      <td>Denae</td>
      <td>Eggers</td>
      <td>NaN</td>
      <td>Brookwood Inn</td>
      <td>475 S Figueroa St</td>
      <td>NaN</td>
      <td>Winnipeg</td>
      <td>MB</td>
      <td>R2K 3B5</td>
      <td>NaN</td>
      <td>204-341-2445</td>
      <td>204-723-2394</td>
      <td>denae_eggers@gmail.com</td>
      <td>http://www.brookwoodinn.com</td>
    </tr>
    <tr>
      <th>1324</th>
      <td>2425.0</td>
      <td>Rikki</td>
      <td>Montalgo</td>
      <td>NaN</td>
      <td>Emergency Management</td>
      <td>7 Lagrange St #10</td>
      <td>NaN</td>
      <td>Montreal</td>
      <td>QC</td>
      <td>H2K 3M3</td>
      <td>NaN</td>
      <td>514-472-6857</td>
      <td>514-563-2884</td>
      <td>rikki@montalgo.com</td>
      <td>http://www.emergencymanagement.com</td>
    </tr>
    <tr>
      <th>1325</th>
      <td>2426.0</td>
      <td>Nan</td>
      <td>Weekly</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>16 Ridge Center</td>
      <td>NaN</td>
      <td>London</td>
      <td>ON</td>
      <td>N5Y 5M9</td>
      <td>NaN</td>
      <td>519-928-8049</td>
      <td>519-430-6684</td>
      <td>nan@weekly.com</td>
      <td>http://www.katesboylstonpublicatnsinc.com</td>
    </tr>
    <tr>
      <th>1326</th>
      <td>2427.0</td>
      <td>NaN</td>
      <td>Despain</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Surrey</td>
      <td>BC</td>
      <td>V3R 6N7</td>
      <td>NaN</td>
      <td>604-344-4458</td>
      <td>604-936-4021</td>
      <td>sdespain@hotmail.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1327</th>
      <td>2428.0</td>
      <td>NaN</td>
      <td>Brennick</td>
      <td>NaN</td>
      <td>Barbour, Michael J Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Boucherville</td>
      <td>QC</td>
      <td>J4B 1R5</td>
      <td>NaN</td>
      <td>450-480-7421</td>
      <td>450-246-6043</td>
      <td>coral.brennick@brennick.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1328</th>
      <td>2429.0</td>
      <td>NaN</td>
      <td>Huelse</td>
      <td>NaN</td>
      <td>Best Western Doublewood Inn</td>
      <td>672 Neil Armstrong St #59</td>
      <td>NaN</td>
      <td>Lethbridge</td>
      <td>AB</td>
      <td>T1K 2L9</td>
      <td>NaN</td>
      <td>403-540-2604</td>
      <td>403-247-1100</td>
      <td>phyliss_huelse@aol.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1329</th>
      <td>2430.0</td>
      <td>Jesse</td>
      <td>Wida</td>
      <td>NaN</td>
      <td>Mt Plsnt Dly Tribune Sunday</td>
      <td>1 E Gabilan St</td>
      <td>NaN</td>
      <td>Burlington</td>
      <td>ON</td>
      <td>L7T 3Y9</td>
      <td>NaN</td>
      <td>905-356-4735</td>
      <td>905-744-5778</td>
      <td>jesse@wida.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1330</th>
      <td>2431.0</td>
      <td>Latonia</td>
      <td>Helander</td>
      <td>NaN</td>
      <td>Gebhardt &amp; Smith</td>
      <td>6325 Statesville Rd</td>
      <td>NaN</td>
      <td>Brampton</td>
      <td>ON</td>
      <td>L6V 4R8</td>
      <td>NaN</td>
      <td>905-723-5674</td>
      <td>905-209-4309</td>
      <td>latonia@helander.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1331</th>
      <td>2432.0</td>
      <td>Aimee</td>
      <td>Clozza</td>
      <td>NaN</td>
      <td>Cdm Transportation</td>
      <td>7 N Wacker Dr #42</td>
      <td>NaN</td>
      <td>Ottawa</td>
      <td>ON</td>
      <td>K1K 0K4</td>
      <td>NaN</td>
      <td>613-804-8102</td>
      <td>613-832-9403</td>
      <td>aimee_clozza@clozza.org</td>
      <td>http://www.cdmtransportation.com</td>
    </tr>
    <tr>
      <th>1332</th>
      <td>2433.0</td>
      <td>Marcelle</td>
      <td>Staie</td>
      <td>NaN</td>
      <td>Butler, Frank B Esq</td>
      <td>76 N Harlem Ave</td>
      <td>NaN</td>
      <td>Stoney Creek</td>
      <td>ON</td>
      <td>L8E 4S4</td>
      <td>NaN</td>
      <td>905-817-1934</td>
      <td>905-209-2680</td>
      <td>marcelle_staie@aol.com</td>
      <td>http://www.butlerfrankbesq.com</td>
    </tr>
    <tr>
      <th>1333</th>
      <td>2434.0</td>
      <td>Ilda</td>
      <td>Schuring</td>
      <td>NaN</td>
      <td>Secaucus Guide Book</td>
      <td>80 Ringwood Ave #7</td>
      <td>NaN</td>
      <td>St. Albert</td>
      <td>AB</td>
      <td>T8N 1L5</td>
      <td>NaN</td>
      <td>780-830-2958</td>
      <td>780-287-2408</td>
      <td>ilda_schuring@schuring.com</td>
      <td>http://www.secaucusguidebook.com</td>
    </tr>
    <tr>
      <th>1334</th>
      <td>2435.0</td>
      <td>Aileen</td>
      <td>Klukken</td>
      <td>NaN</td>
      <td>Stamper, Gerald Esq</td>
      <td>8 Wilfong Ln</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ON</td>
      <td>M2N 2T3</td>
      <td>NaN</td>
      <td>416-390-4510</td>
      <td>416-717-1243</td>
      <td>aklukken@klukken.com</td>
      <td>http://www.stampergeraldesq.com</td>
    </tr>
    <tr>
      <th>1335</th>
      <td>246.0</td>
      <td>Davida</td>
      <td>Zeng</td>
      <td>NaN</td>
      <td>Conway, John J Esq</td>
      <td>8881 Hopkins St</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>J5J 2B5</td>
      <td>NaN</td>
      <td>450-375-8192</td>
      <td>450-274-3903</td>
      <td>NaN</td>
      <td>http://www.conwayjohnjesq.com</td>
    </tr>
    <tr>
      <th>1336</th>
      <td>2437.0</td>
      <td>Beata</td>
      <td>Rubarts</td>
      <td>NaN</td>
      <td>Jay N Bee Office Solutions Ltd</td>
      <td>19 Torresdale Ave #58</td>
      <td>NaN</td>
      <td>Victoria</td>
      <td>BC</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>250-808-6765</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>http://www.jaynbeeofficesolutionsltd.com</td>
    </tr>
    <tr>
      <th>1337</th>
      <td>NaN</td>
      <td>Angelyn</td>
      <td>Wieand</td>
      <td>NaN</td>
      <td>Edith Flagg Inc</td>
      <td>79 Craig Rd</td>
      <td>NaN</td>
      <td>Brampton</td>
      <td>ON54245</td>
      <td>L6X 0E3</td>
      <td>NaN</td>
      <td>905-838-314</td>
      <td>905-637-2696</td>
      <td>angelyn_wieand@wieand.com</td>
      <td>http://www.edithflagginc.com</td>
    </tr>
    <tr>
      <th>1338</th>
      <td>2439.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Blatt, Harold G Esq</td>
      <td>432 Eastman Ave</td>
      <td>NaN</td>
      <td>Calgary</td>
      <td>AB</td>
      <td>T3L 2H1</td>
      <td>NaN</td>
      <td>403-481-8843</td>
      <td>403-734-2361</td>
      <td>claudio_hummell@hotmail.com</td>
      <td>http://www.blattharoldgesq.com</td>
    </tr>
    <tr>
      <th>1339</th>
      <td>2440.0</td>
      <td>Krystal</td>
      <td>Twyman</td>
      <td>NaN</td>
      <td>Shell Western Hills</td>
      <td>9 Garcia Ave #38</td>
      <td>NaN</td>
      <td>Scarborough</td>
      <td>ON</td>
      <td>M1C 1N8</td>
      <td>NaN</td>
      <td>416-712-8230</td>
      <td>416-253-3534</td>
      <td>ktwyman@gmail.com</td>
      <td>http://www.shellwesternhills.com</td>
    </tr>
    <tr>
      <th>1340</th>
      <td>2441.0</td>
      <td>Adela</td>
      <td>Echegoyen</td>
      <td>NaN</td>
      <td>Fpa Corp</td>
      <td>128 W Kellogg Dr</td>
      <td>NaN</td>
      <td>Burnaby</td>
      <td>BC</td>
      <td>V5B 4L5</td>
      <td>NaN</td>
      <td>604-571-8392</td>
      <td>604-693-8094</td>
      <td>adela.echegoyen@echegoyen.org</td>
      <td>http://www.fpacorp.com</td>
    </tr>
    <tr>
      <th>1341</th>
      <td>2442.0</td>
      <td>Ryan</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Citrus Power Equipment</td>
      <td>7827 Commercial St Se #37</td>
      <td>NaN</td>
      <td>Regina</td>
      <td>SK</td>
      <td>S4V 3B8</td>
      <td>NaN</td>
      <td>306-621-2626</td>
      <td>306-246-7105</td>
      <td>rphibbs@gmail.com</td>
      <td>http://www.citruspowerequipment.com</td>
    </tr>
    <tr>
      <th>1342</th>
      <td>2443.0</td>
      <td>Edmond</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Eden Bail Bond Information Ctr</td>
      <td>67 N Washington Ave #960</td>
      <td>NaN</td>
      <td>Saint-Eustache</td>
      <td>QC</td>
      <td>J7P 1A5</td>
      <td>NaN</td>
      <td>450-829-7834</td>
      <td>450-808-1619</td>
      <td>edmond_buettner@buettner.org</td>
      <td>http://www.edenbailbondinformationctr.com</td>
    </tr>
    <tr>
      <th>1343</th>
      <td>2444.0</td>
      <td>Catina</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Noack &amp; Dean Ins Agtts &amp; Brkrs</td>
      <td>19 Distribution Way</td>
      <td>NaN</td>
      <td>Thunder Bay</td>
      <td>ON</td>
      <td>P7C 4H3</td>
      <td>NaN</td>
      <td>807-652-2563</td>
      <td>807-393-4181</td>
      <td>catina@gmail.com</td>
      <td>http://www.noackdeaninsagttsbrkrs.com</td>
    </tr>
    <tr>
      <th>1344</th>
      <td>2445.0</td>
      <td>Milly</td>
      <td>Pattengale</td>
      <td>NaN</td>
      <td>Schell, Eric F Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Wetaskiwin</td>
      <td>AB</td>
      <td>T9A 3K1</td>
      <td>NaN</td>
      <td>780-799-6418</td>
      <td>780-944-4851</td>
      <td>milly@hotmail.com</td>
      <td>http://www.schellericfesq.com</td>
    </tr>
    <tr>
      <th>1345</th>
      <td>2446.0</td>
      <td>Jules</td>
      <td>Erichsen</td>
      <td>NaN</td>
      <td>Eberhard Mfg Co Div Estrn Co</td>
      <td>1 Parkfair Dr #1219</td>
      <td>NaN</td>
      <td>Mississauga</td>
      <td>ON</td>
      <td>L5C 1L3</td>
      <td>NaN</td>
      <td>905-929-8054</td>
      <td>905-671-9830</td>
      <td>jules@cox.net</td>
      <td>http://www.eberhardmfgcodivestrnco.com</td>
    </tr>
    <tr>
      <th>1346</th>
      <td>2447.0</td>
      <td>Denna</td>
      <td>Miklitz</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>1736 Us Highway 19n N #6</td>
      <td>NaN</td>
      <td>Saint-Jean-sur-Richelieu</td>
      <td>QC</td>
      <td>J3B 0C5</td>
      <td>NaN</td>
      <td>450-409-1005</td>
      <td>450-752-3781</td>
      <td>dmiklitz@yahoo.com</td>
      <td>http://www.cptalmeatsprovisionsco.com</td>
    </tr>
    <tr>
      <th>1347</th>
      <td>2448.0</td>
      <td>Willetta</td>
      <td>Cesa</td>
      <td>NaN</td>
      <td>Alpha Services Co</td>
      <td>578 E Us Highway 36 #3</td>
      <td>NaN</td>
      <td>Membertou</td>
      <td>NS</td>
      <td>B1S 2P3</td>
      <td>NaN</td>
      <td>902-981-7382</td>
      <td>902-906-9598</td>
      <td>willetta_cesa@gmail.com</td>
      <td>http://www.alphaservicesco.com</td>
    </tr>
    <tr>
      <th>1348</th>
      <td>2449.0</td>
      <td>Johna</td>
      <td>Magathan</td>
      <td>NaN</td>
      <td>Park Metal Inc</td>
      <td>1724 W Dodge Rd</td>
      <td>NaN</td>
      <td>Edmonton</td>
      <td>AB</td>
      <td>T6K 4E5</td>
      <td>NaN</td>
      <td>780-994-6272</td>
      <td>780-550-9766</td>
      <td>jmagathan@magathan.org</td>
      <td>http://www.parkmetalinc.com</td>
    </tr>
    <tr>
      <th>1349</th>
      <td>2450.0</td>
      <td>Ollie</td>
      <td>Oliverson</td>
      <td>NaN</td>
      <td>Redemann, Robert P Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Etobicoke</td>
      <td>ON</td>
      <td>M9W 3W4</td>
      <td>NaN</td>
      <td>416-762-4001</td>
      <td>416-291-7332</td>
      <td>ooliverson@cox.net</td>
      <td>http://www.redemannrobertpesq.com</td>
    </tr>
    <tr>
      <th>1350</th>
      <td>2451.0</td>
      <td>Sherly</td>
      <td>Vitrano</td>
      <td>NaN</td>
      <td>Stangels Financial Services</td>
      <td>8 Cochise Trl</td>
      <td>NaN</td>
      <td>Sydney</td>
      <td>NS</td>
      <td>B1P 1C1</td>
      <td>NaN</td>
      <td>902-480-3185</td>
      <td>902-389-5380</td>
      <td>svitrano@hotmail.com</td>
      <td>http://www.stangelsfinancialservices.com</td>
    </tr>
    <tr>
      <th>1351</th>
      <td>NaN</td>
      <td>Kindra</td>
      <td>Dishong</td>
      <td>NaN</td>
      <td>Mcclanathan, Peter D Esq</td>
      <td>4 Sutton Ln</td>
      <td>NaN</td>
      <td>Nepean</td>
      <td>ON</td>
      <td>K2E 6A5</td>
      <td>NaN</td>
      <td>613-510-3295</td>
      <td>613-620-3122</td>
      <td>kdishong@gmail.com</td>
      <td>http://www.mcclanathanpeterdesq.com</td>
    </tr>
    <tr>
      <th>1352</th>
      <td>2453.0</td>
      <td>Vanda</td>
      <td>Tentler</td>
      <td>NaN</td>
      <td>Oklahoma Ford Power Products</td>
      <td>7 Shetland Ct</td>
      <td>NaN</td>
      <td>Kimberley</td>
      <td>BC</td>
      <td>V1A 2M7</td>
      <td>NaN</td>
      <td>250-605-3501</td>
      <td>250-603-4234</td>
      <td>vanda_tentler@tentler.org</td>
      <td>http://www.oklahomafordpowerproducts.com</td>
    </tr>
    <tr>
      <th>1353</th>
      <td>2454.0</td>
      <td>Marshall</td>
      <td>Fitgerald</td>
      <td>NaN</td>
      <td>Mpw Communities Of N J</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Calgary</td>
      <td>AB</td>
      <td>T2M 4H2</td>
      <td>NaN</td>
      <td>403-918-5509</td>
      <td>403-247-8676</td>
      <td>marshall_fitgerald@cox.net</td>
      <td>http://www.mpwcommunitiesofnj.com</td>
    </tr>
    <tr>
      <th>1354</th>
      <td>2455.0</td>
      <td>Kelvin</td>
      <td>Hasha</td>
      <td>NaN</td>
      <td>Orourke, Denise Michelle Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Edmonton</td>
      <td>AB</td>
      <td>T5M 4A7</td>
      <td>NaN</td>
      <td>780-227-7373</td>
      <td>780-756-7823</td>
      <td>khasha@hotmail.com</td>
      <td>http://www.orourkedenisemichelleesq.com</td>
    </tr>
    <tr>
      <th>1355</th>
      <td>2456.0</td>
      <td>Darrin</td>
      <td>Mathiasen</td>
      <td>NaN</td>
      <td>Milton Daily Standard</td>
      <td>35 Peconic Ave #4</td>
      <td>NaN</td>
      <td>Boucherville</td>
      <td>QC</td>
      <td>J4B 3Y4</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>450-609-7284</td>
      <td>dmathiasen@hotmail.com</td>
      <td>http://www.miltondailystandard.com</td>
    </tr>
    <tr>
      <th>1356</th>
      <td>247.0</td>
      <td>Susana</td>
      <td>Mccarley</td>
      <td>NaN</td>
      <td>Kinkos Copies</td>
      <td>7 S Quebec</td>
      <td>NaN</td>
      <td>Windsor</td>
      <td>ON</td>
      <td>N9E 2G5</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>519-394-8785</td>
      <td>susana_mccarley@gmail.com</td>
      <td>http://www.kinkoscopies.com</td>
    </tr>
    <tr>
      <th>1357</th>
      <td>2458.0</td>
      <td>Wilson</td>
      <td>Nickelson</td>
      <td>NaN</td>
      <td>Brobeck Phleger &amp; Harrison</td>
      <td>74 Se 3rd Ave #1494</td>
      <td>NaN</td>
      <td>North York</td>
      <td>ON65</td>
      <td>M2J 3W5</td>
      <td>NaN</td>
      <td>416-376-7867</td>
      <td>416-595-9807</td>
      <td>wilson_nickelson@aol.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1358</th>
      <td>2459.0</td>
      <td>Malissa</td>
      <td>Talty</td>
      <td>NaN</td>
      <td>Stafford, William P Ii</td>
      <td>3 Bush St</td>
      <td>NaN</td>
      <td>Saint John</td>
      <td>NB</td>
      <td>E2M 2N5</td>
      <td>NaN</td>
      <td>506-724-2777</td>
      <td>506-251-4329</td>
      <td>malissa@talty.org</td>
      <td>http://www.staffordwilliampii.com</td>
    </tr>
    <tr>
      <th>1359</th>
      <td>2460.0</td>
      <td>Tandra</td>
      <td>Castillanos</td>
      <td>NaN</td>
      <td>Stony Creek Apartments</td>
      <td>629 105th Ave</td>
      <td>NaN</td>
      <td>Hamilton</td>
      <td>NaN</td>
      <td>L9C 3G2</td>
      <td>NaN</td>
      <td>905-715-9339</td>
      <td>905-844-6061</td>
      <td>tcastillanos@castillanos.com</td>
      <td>http://www.stonycreekapartments.com</td>
    </tr>
    <tr>
      <th>1360</th>
      <td>2461.0</td>
      <td>Lorean</td>
      <td>Sammon</td>
      <td>NaN</td>
      <td>Arizona Store Equipment</td>
      <td>58 Executive Dr</td>
      <td>NaN</td>
      <td>Regina</td>
      <td>SK</td>
      <td>S4S 3Y3</td>
      <td>NaN</td>
      <td>306-854-5060</td>
      <td>306-553-6554</td>
      <td>lorean@yahoo.com</td>
      <td>http://www.arizonastoreequipment.com</td>
    </tr>
    <tr>
      <th>1361</th>
      <td>2462.0</td>
      <td>Desirae</td>
      <td>Oien</td>
      <td>NaN</td>
      <td>L &amp; P Construction</td>
      <td>200 W Bijou St #6013</td>
      <td>NaN</td>
      <td>Calgary</td>
      <td>AB</td>
      <td>T2C 0Z5</td>
      <td>NaN</td>
      <td>403-405-2804</td>
      <td>403-654-5087</td>
      <td>desirae.oien@hotmail.com</td>
      <td>http://www.lpconstruction.com</td>
    </tr>
    <tr>
      <th>1362</th>
      <td>2463.0</td>
      <td>Delsie</td>
      <td>Cerao</td>
      <td>NaN</td>
      <td>Bacompt</td>
      <td>2 Us Highway 206</td>
      <td>NaN</td>
      <td>English Settlement</td>
      <td>NB</td>
      <td>E6B 2J9</td>
      <td>NaN</td>
      <td>506-795-5209</td>
      <td>506-336-7043</td>
      <td>delsie.cerao@cerao.org</td>
      <td>http://www.bacompt.com</td>
    </tr>
    <tr>
      <th>1363</th>
      <td>2464.0</td>
      <td>Mabel</td>
      <td>Elmquist</td>
      <td>NaN</td>
      <td>Tarkett Inc</td>
      <td>8570 E 8th St</td>
      <td>NaN</td>
      <td>Winnipeg</td>
      <td>MB</td>
      <td>R2K 0Y2</td>
      <td>NaN</td>
      <td>204-285-3978</td>
      <td>204-272-6023</td>
      <td>mabel_elmquist@elmquist.com</td>
      <td>http://www.tarkettinc.com</td>
    </tr>
    <tr>
      <th>1364</th>
      <td>2465.0</td>
      <td>Marnie</td>
      <td>Purslow</td>
      <td>NaN</td>
      <td>Century 21 Twin Oaks Rlty Inc</td>
      <td>3068 N Interstate 35</td>
      <td>NaN</td>
      <td>Winnipeg</td>
      <td>MB</td>
      <td>R2V 3G6</td>
      <td>NaN</td>
      <td>204-904-1386</td>
      <td>204-501-8129</td>
      <td>marnie.purslow@purslow.com</td>
      <td>http://www.centurytwinoaksrltyinc.com</td>
    </tr>
    <tr>
      <th>1365</th>
      <td>2466.0</td>
      <td>Rene</td>
      <td>Granier</td>
      <td>NaN</td>
      <td>Cohen, Mortimer S Esq</td>
      <td>4241 Tapp St</td>
      <td>NaN</td>
      <td>Calgary</td>
      <td>AB</td>
      <td>T3Z 1H1</td>
      <td>NaN</td>
      <td>403-438-9257</td>
      <td>NaN</td>
      <td>rene@cox.net</td>
      <td>http://www.cohenmortimersesq.com</td>
    </tr>
    <tr>
      <th>1366</th>
      <td>2467.0</td>
      <td>NaN</td>
      <td>Harnist</td>
      <td>NaN</td>
      <td>Meraglio, Ruissell J Jr</td>
      <td>99 Hart St</td>
      <td>NaN</td>
      <td>Dartmouth</td>
      <td>NS</td>
      <td>B2Y 1G7</td>
      <td>NaN</td>
      <td>902-782-2576</td>
      <td>902-641-1009</td>
      <td>trevor.harnist@hotmail.com</td>
      <td>http://www.meraglioruisselljjr.com</td>
    </tr>
    <tr>
      <th>1367</th>
      <td>2468.0</td>
      <td>Sharmaine</td>
      <td>Batdorf</td>
      <td>NaN</td>
      <td>Stritzel Awning Svc</td>
      <td>1822 Guilford Rd</td>
      <td>NaN</td>
      <td>Saint-Basile</td>
      <td>NB</td>
      <td>E7C 2L8</td>
      <td>NaN</td>
      <td>506-839-1630</td>
      <td>506-707-6566</td>
      <td>sharmaine_batdorf@batdorf.com</td>
      <td>http://www.stritzelawningsvc.com</td>
    </tr>
    <tr>
      <th>1368</th>
      <td>2469.0</td>
      <td>Ricki</td>
      <td>Traux</td>
      <td>NaN</td>
      <td>Collins, Frederick H Esq</td>
      <td>995 Concord Rd</td>
      <td>NaN</td>
      <td>Montreal</td>
      <td>QC</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>514-657-1920</td>
      <td>514-784-4720</td>
      <td>ricki.traux@traux.com</td>
      <td>http://www.collinsfrederickhesq.com</td>
    </tr>
    <tr>
      <th>1369</th>
      <td>2470.0</td>
      <td>NaN</td>
      <td>Shufelt</td>
      <td>NaN</td>
      <td>Mulligan, Thomas O Esq</td>
      <td>3 Main St</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>ON</td>
      <td>P3C 2X6</td>
      <td>NaN</td>
      <td>705-693-982</td>
      <td>705-715-3024</td>
      <td>bernadine_shufelt@shufelt.org</td>
      <td>http://www.mulliganthomasoesq.com</td>
    </tr>
    <tr>
      <th>1370</th>
      <td>2471.0</td>
      <td>NaN</td>
      <td>Reider</td>
      <td>NaN</td>
      <td>City Judge</td>
      <td>7995 Douglas Rd E #6</td>
      <td>NaN</td>
      <td>Lloydminster</td>
      <td>AB</td>
      <td>T9V 2M7</td>
      <td>NaN</td>
      <td>780-953-3852</td>
      <td>780-872-1107</td>
      <td>shad_reider@aol.com</td>
      <td>http://www.cityjudge.com</td>
    </tr>
    <tr>
      <th>1371</th>
      <td>2472.0</td>
      <td>Kenneth</td>
      <td>Degennaro</td>
      <td>NaN</td>
      <td>Dodson, Mac Pa</td>
      <td>965 Bryant St</td>
      <td>NaN</td>
      <td>St Martins</td>
      <td>NB</td>
      <td>E5R 1G5</td>
      <td>NaN</td>
      <td>506-763-6456</td>
      <td>506-220-8258</td>
      <td>kenneth.degennaro@aol.com</td>
      <td>http://www.dodsonmacpa.com</td>
    </tr>
    <tr>
      <th>1372</th>
      <td>2473.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Welsch Metal Products Inc</td>
      <td>2863 Brooklyn Terminal Mkt</td>
      <td>NaN</td>
      <td>Abbotsford</td>
      <td>BC</td>
      <td>V2S 4M2</td>
      <td>NaN</td>
      <td>604-545-3662</td>
      <td>604-469-6870</td>
      <td>marleen_hennon@aol.com</td>
      <td>http://www.welschmetalproductsinc.com</td>
    </tr>
    <tr>
      <th>1373</th>
      <td>2474.0</td>
      <td>Joaquin</td>
      <td>Geitner</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>6410 E State Hwy</td>
      <td>NaN</td>
      <td>Calgary</td>
      <td>AB</td>
      <td>T2K 4M8</td>
      <td>NaN</td>
      <td>403-640-8755</td>
      <td>403-999-6332</td>
      <td>joaquin_geitner@cox.net</td>
      <td>http://www.cellularone.com</td>
    </tr>
    <tr>
      <th>1374</th>
      <td>2475.0</td>
      <td>Slyvia</td>
      <td>Stockham</td>
      <td>NaN</td>
      <td>Finchers Findings</td>
      <td>4895 Country Club Rd</td>
      <td>NaN</td>
      <td>Quebec</td>
      <td>QC</td>
      <td>G1K 5J8</td>
      <td>NaN</td>
      <td>418-913-7998</td>
      <td>418-917-4111</td>
      <td>slyvia.stockham@aol.com</td>
      <td>http://www.finchersfindings.com</td>
    </tr>
    <tr>
      <th>1375</th>
      <td>2476.0</td>
      <td>Kris</td>
      <td>Bala</td>
      <td>NaN</td>
      <td>U S Tsubaki Inc</td>
      <td>43 Gateway Blvd</td>
      <td>NaN</td>
      <td>Brampton</td>
      <td>ON</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>905-848-5458</td>
      <td>905-860-5785</td>
      <td>kris_bala@gmail.com</td>
      <td>http://www.ustsubakiinc.com</td>
    </tr>
    <tr>
      <th>1376</th>
      <td>2477.0</td>
      <td>Gussie</td>
      <td>Diflorio</td>
      <td>NaN</td>
      <td>Cliff Clarks Inc Sales &amp; Serv</td>
      <td>881 South St #4</td>
      <td>NaN</td>
      <td>Trenton</td>
      <td>ON</td>
      <td>K8V 1G7</td>
      <td>NaN</td>
      <td>613-857-7922</td>
      <td>NaN</td>
      <td>gussie_diflorio@cox.net</td>
      <td>http://www.cliffclarksincsalesserv.com</td>
    </tr>
    <tr>
      <th>1377</th>
      <td>2478.0</td>
      <td>Lavelle</td>
      <td>Lillywhite</td>
      <td>NaN</td>
      <td>Schivley, G Gregory</td>
      <td>5 S Taylor Ave</td>
      <td>NaN</td>
      <td>La Malbaie</td>
      <td>QC</td>
      <td>G5A 2R8</td>
      <td>NaN</td>
      <td>418-442-4179</td>
      <td>418-719-1723</td>
      <td>lavelle.lillywhite@hotmail.com</td>
      <td>http://www.schivleyggregory.com</td>
    </tr>
    <tr>
      <th>1378</th>
      <td>2479.0</td>
      <td>Bev</td>
      <td>Dermo</td>
      <td>NaN</td>
      <td>Nicks Printing</td>
      <td>6059 Alewa Dr</td>
      <td>NaN</td>
      <td>Surrey4</td>
      <td>BC</td>
      <td>V3X 1X5</td>
      <td>NaN</td>
      <td>604-880-6351</td>
      <td>604-342-4113</td>
      <td>bev.dermo@dermo.com</td>
      <td>http://www.nicksprinting.com</td>
    </tr>
    <tr>
      <th>1379</th>
      <td>2480.0</td>
      <td>Bette</td>
      <td>Digiovanni</td>
      <td>NaN</td>
      <td>Nassar, Monique A Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>London</td>
      <td>ON</td>
      <td>N6K 4J9</td>
      <td>NaN</td>
      <td>519-882-6434</td>
      <td>519-206-1305</td>
      <td>bette.digiovanni@digiovanni.org</td>
      <td>http://www.nassarmoniqueaesq.com</td>
    </tr>
    <tr>
      <th>1380</th>
      <td>241.0</td>
      <td>Lajuana</td>
      <td>Mccloud</td>
      <td>NaN</td>
      <td>Cesena Printg E Side Printg Co</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Saint-Thomas</td>
      <td>77</td>
      <td>J0K 3L0</td>
      <td>NaN</td>
      <td>450-272-6370</td>
      <td>450-704-8629</td>
      <td>lajuana_mccloud@hotmail.com</td>
      <td>http://www.cesenaprintgesideprintgco.com</td>
    </tr>
    <tr>
      <th>1381</th>
      <td>2482.0</td>
      <td>Shakira</td>
      <td>Westervelt</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>5470 N Lamar Blvd #542</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>V7J 2J9</td>
      <td>NaN</td>
      <td>604-991-8721</td>
      <td>604-514-6251</td>
      <td>swestervelt@westervelt.org</td>
      <td>http://www.buenaclerk.com</td>
    </tr>
    <tr>
      <th>1382</th>
      <td>2483.0</td>
      <td>Matt</td>
      <td>Nickolich</td>
      <td>NaN</td>
      <td>Bonina, John A Esq</td>
      <td>103 E Main St #59</td>
      <td>NaN</td>
      <td>Regina</td>
      <td>SK</td>
      <td>S4S 5Y2</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>matt@gmail.com</td>
      <td>http://www.boninajohnaesq.com</td>
    </tr>
    <tr>
      <th>1383</th>
      <td>2484.0</td>
      <td>Clemencia</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Computer System Dynamics</td>
      <td>698 N Allen Rd</td>
      <td>NaN</td>
      <td>Montreal</td>
      <td>QC</td>
      <td>H3J 2N8</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>514-427-6426</td>
      <td>cmomplaisir@yahoo.com</td>
      <td>http://www.computersystemdynamics.com</td>
    </tr>
    <tr>
      <th>1384</th>
      <td>2485.0</td>
      <td>Oliva</td>
      <td>Ambert</td>
      <td>NaN</td>
      <td>Kleins Hallmark Cards</td>
      <td>1 Broadway St</td>
      <td>NaN</td>
      <td>Dawson Settlement</td>
      <td>NB</td>
      <td>E4H 2B6</td>
      <td>NaN</td>
      <td>506-672-7328</td>
      <td>506-593-5041</td>
      <td>oambert@gmail.com</td>
      <td>http://www.kleinshallmarkcards.com</td>
    </tr>
    <tr>
      <th>1385</th>
      <td>2486.0</td>
      <td>Ranee</td>
      <td>Maye</td>
      <td>NaN</td>
      <td>Construction Services Inc</td>
      <td>5361 N 500 W #3065</td>
      <td>NaN</td>
      <td>Les Cedres</td>
      <td>QC</td>
      <td>J7T 3A9</td>
      <td>NaN</td>
      <td>450-700-5970</td>
      <td>450-769-7974</td>
      <td>ranee_maye@maye.com</td>
      <td>http://www.constructionservicesinc.com</td>
    </tr>
    <tr>
      <th>1386</th>
      <td>2487.0</td>
      <td>Ming</td>
      <td>Eskew</td>
      <td>NaN</td>
      <td>Dickman, J Scott Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Victoria</td>
      <td>BC</td>
      <td>V9A 6P6</td>
      <td>NaN</td>
      <td>250-22-6798</td>
      <td>250-224-3850</td>
      <td>ming_eskew@eskew.com</td>
      <td>http://www.dickmanjscottesq.com</td>
    </tr>
    <tr>
      <th>1387</th>
      <td>2488.0</td>
      <td>Annice</td>
      <td>Peckens</td>
      <td>NaN</td>
      <td>Hering, Glenn Z Esq</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Victoria</td>
      <td>BC</td>
      <td>V8V 2P7</td>
      <td>NaN</td>
      <td>250-727-7309</td>
      <td>250-9-4257</td>
      <td>apeckens@peckens.org</td>
      <td>http://www.heringglennzesq.com</td>
    </tr>
    <tr>
      <th>1388</th>
      <td>2489.0</td>
      <td>Effie</td>
      <td>Frymark</td>
      <td>NaN</td>
      <td>Razzoog, Michael E Dds</td>
      <td>51 3rd Ave</td>
      <td>NaN</td>
      <td>London</td>
      <td>ON</td>
      <td>N5W 5G1</td>
      <td>NaN</td>
      <td>519-433-4142</td>
      <td>519-5892250</td>
      <td>effie_frymark@gmail.com</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1389</th>
      <td>2490.0</td>
      <td>Maricela</td>
      <td>Conger</td>
      <td>NaN</td>
      <td>Phase One Office Products</td>
      <td>865 N Port Ave</td>
      <td>NaN</td>
      <td>Coquitlam</td>
      <td>BC 998</td>
      <td>V3E 1Y4</td>
      <td>NaN</td>
      <td>604-568-1899</td>
      <td>604-3-7621</td>
      <td>mconger@aol.com</td>
      <td>http://www.phaseoneofficeproducts.com</td>
    </tr>
    <tr>
      <th>1390</th>
      <td>2491.0</td>
      <td>Esteban</td>
      <td>Plantenberg</td>
      <td>NaN</td>
      <td>Midwest Wheel Companies</td>
      <td>78 E River</td>
      <td>NaN</td>
      <td>Surrey</td>
      <td>BC</td>
      <td>V4P 0C4</td>
      <td>NaN</td>
      <td>604-519-9547</td>
      <td>604-747-2189</td>
      <td>esteban@cox.net</td>
      <td>http://www.midwestwheelcompanies.com</td>
    </tr>
    <tr>
      <th>1391</th>
      <td>2492.0</td>
      <td>Doretha</td>
      <td>Wykle</td>
      <td>NaN</td>
      <td>Lafave, E Joseph Iii</td>
      <td>5106 N Laurel Park Dr</td>
      <td>NaN</td>
      <td>Kenora</td>
      <td>ON</td>
      <td>P9N 4E7</td>
      <td>NaN</td>
      <td>807-383-855</td>
      <td>807-878-5383</td>
      <td>doretha@yahoo.com</td>
      <td>http://www.lafaveejosephiii.com</td>
    </tr>
    <tr>
      <th>1392</th>
      <td>2493.0</td>
      <td>Dorsey</td>
      <td>Neitzke</td>
      <td>NaN</td>
      <td>Turley, Joseph M</td>
      <td>9768 A Aven #112</td>
      <td>NaN</td>
      <td>Truro</td>
      <td>NS</td>
      <td>B2N 3P6</td>
      <td>NaN</td>
      <td>902-936-9426</td>
      <td>902-336-1190</td>
      <td>dorsey_neitzke@hotmail.com</td>
      <td>http://www.turleyjosephm.com</td>
    </tr>
    <tr>
      <th>1393</th>
      <td>2494.0</td>
      <td>Amie</td>
      <td>Okuniewski</td>
      <td>NaN</td>
      <td>Motion Industries Inc</td>
      <td>24 Venice Rd</td>
      <td>NaN</td>
      <td>Pembroke</td>
      <td>ON</td>
      <td>K8A 8M7</td>
      <td>NaN</td>
      <td>613-686-9039</td>
      <td>613-257-6021</td>
      <td>amie@yahoo.com</td>
      <td>http://www.motionindustriesinc.com</td>
    </tr>
    <tr>
      <th>1394</th>
      <td>2495.0</td>
      <td>Bulah</td>
      <td>Berkoff</td>
      <td>NaN</td>
      <td>Balan Marketing Co</td>
      <td>2497 Pennsylvania Ave</td>
      <td>NaN</td>
      <td>Strathroy</td>
      <td>ON</td>
      <td>N7G 3V5</td>
      <td>NaN</td>
      <td>519-309-5863</td>
      <td>519-911-6087</td>
      <td>bulah.berkoff@cox.net</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1395</th>
      <td>2496.0</td>
      <td>Erin</td>
      <td>Delbosque</td>
      <td>NaN</td>
      <td>Curtiss Wright Corp</td>
      <td>357 W Mount Royal Ave</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>QC</td>
      <td>J4M 2A8</td>
      <td>NaN</td>
      <td>450-316-7813</td>
      <td>450-491-8703</td>
      <td>erin@cox.net</td>
      <td>http://www.curtisswrightcorp.com</td>
    </tr>
    <tr>
      <th>1396</th>
      <td>2497.0</td>
      <td>Kassandra</td>
      <td>Marushia</td>
      <td>NaN</td>
      <td>Phelps Tool &amp; Die Co Inc</td>
      <td>123 Euclid Ave #9396</td>
      <td>NaN</td>
      <td>Nanaimo</td>
      <td>BC</td>
      <td>V9R 1C9</td>
      <td>NaN</td>
      <td>250-646-6446</td>
      <td>250-571-5058</td>
      <td>kassandra@gmail.com</td>
      <td>http://www.phelpstooldiecoinc.com</td>
    </tr>
    <tr>
      <th>1397</th>
      <td>2498.0</td>
      <td>Leslee</td>
      <td>Matsuno</td>
      <td>NaN</td>
      <td>Factory Mattress Outlet</td>
      <td>1251 E Main St #990</td>
      <td>NaN</td>
      <td>Quebec</td>
      <td>QC</td>
      <td>G1H 1A6</td>
      <td>NaN</td>
      <td>418-460-5773</td>
      <td>418-543-9015</td>
      <td>leslee_matsuno@matsuno.org</td>
      <td>http://www.factorymattressoutlet.com</td>
    </tr>
    <tr>
      <th>1398</th>
      <td>249.0</td>
      <td>Daniel</td>
      <td>Dobler</td>
      <td>NaN</td>
      <td>Cosgroves N End Plbg &amp; Hdwr Co</td>
      <td>259 W 17th St #39</td>
      <td>NaN</td>
      <td>Beresford</td>
      <td>NB</td>
      <td>E8K 1B7</td>
      <td>NaN</td>
      <td>506-617-2607</td>
      <td>506-951-8403</td>
      <td>ddobler@dobler.com</td>
      <td>http://www.cosgrovesnendplbghdwrco.com</td>
    </tr>
    <tr>
      <th>1399</th>
      <td>2500.0</td>
      <td>Antonio</td>
      <td>Unruh</td>
      <td>NaN</td>
      <td>Mission Lincoln Properties</td>
      <td>9 Route 38</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>BC</td>
      <td>V3C 2Z4</td>
      <td>NaN</td>
      <td>604-624-7690</td>
      <td>NaN</td>
      <td>antonio.unruh@hotmail.com</td>
      <td>http://www.missionlincolnproperties.com</td>
    </tr>
  </tbody>
</table>